<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <h1>Books</h1>
    <div id="books-container">
        {% include '_books.html' %}
    </div>

    <div id="book-details-container" hx-post="/mouse" hx-trigger="click">
        Helo
    </div> -->
    <h1 class="text-2xl text-emerald-500 font-bold text-center mt-8">
      Welcome! Please enter an image
    </h1>

    <div class="flex justify-center mt-8">
      <form hx-encoding="multipart/form-data" hx-post="/upload">
        <input type="file" name="file" />
        <button>Upload</button>
      </form>
    </div>
    <div id="image-container"></div>
    <script>
      document.body.addEventListener("click", function (event) {
        if (event.target.matches(".book-link")) {
          event.preventDefault();
          htmx.ajax(
            "GET",
            event.target.getAttribute("href"),
            "#book-details-container"
          );
        }
      });
    </script>
  </body>
</html>
