<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="text-2xl text-emerald-500 font-bold text-center mt-8">
      Welcome! Please enter an image
    </h1>

    <div class="flex justify-center mt-8">
      <form hx-encoding="multipart/form-data" hx-post="/upload">
        <input type="file" name="file" />
        <button>Upload</button>
      </form>
    </div>
    <div id="image-container"></div>
  </body>
</html>
