<section class="w-[20%] h-screenWithNav bg-tertiary p-5 sato text-textInactive">
  <!-- Heading -->
  <h1 class="text-3xl pb-5 text-white">Quick Links</h1>
  <hr class="bg-textInactive" />
  <!-- Tech-Stack Documentation -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="#introduction" class="hover:text-white text-xl"
        >YOLOv5 Documentation</a
      >
    </li>
    <li class="py-2">
      <a href="#installation" class="hover:text-white text-xl"
        >ONNX Documentation</a
      >
    </li>
    <li class="py-2">
      <a href="#usage" class="hover:text-white text-xl"
        >PyTorch Documentation
      </a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
  <!-- Abstract and SRS -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="#introduction" class="hover:text-white text-xl"
        >Project Abstract</a
      >
    </li>
    <li class="py-2">
      <a href="#installation" class="hover:text-white text-xl"
        >SRS Documentation</a
      >
    </li>
  </ul>
  <hr class="bg-textInactive" />
  <!-- Papers -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="#introduction" class="hover:text-white text-xl">Base Paper</a>
    </li>
    <li class="py-2">
      <a href="#installation" class="hover:text-white text-xl"
        >Papers Referred</a
      >
    </li>
  </ul>
  <hr class="bg-textInactive" />
</section>
