<section class="w-full md:w-[20%] flex flex-col justify-between h-screenWithNav bg-tertiary p-5 sato text-textInactive satoshi-medium">
  <!-- Heading -->
  <div>
  <h1 class="text-2xl pb-5 text-textsecondary satoshi-bold">Quick Links</h1>
  <hr class="bg-textInactive" />
  <!-- Tech-Stack Documentation -->

    <ul class="py-5 font-light">
      <li class="py-2">
        <a href="https://docs.ultralytics.com/yolov5/"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">YOLOv5 Documentation</a>
      </li>
      <li class="py-2">
        <a href="https://onnxruntime.ai/"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">ONNX Documentation</a>
      </li>
      <li class="py-2">
        <a href="https://pytorch.org/docs/stable/index.html" class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">PyTorch
          Documentation
        </a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
  <!-- Abstract and SRS -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="https://drive.google.com/file/d/14f4FmtWQowr4loRVPdKQyIhilbRZIjCX/view?usp=drive_link"
      class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">Project Abstract</a>
    </li>
    <li class="py-2">
      <a href="https://drive.google.com/file/d/1uHTNh-3rZnrKuuYetogluBuC4jfvu2DD/view?usp=drive_link"
      class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">SRS Documentation</a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
  <!-- Papers -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="https://www.researchgate.net/publication/341201174_An_Efficient_Method_for_Detecting_Covered_Face_Scenarios_in_ATM_Surveillance_Camera"
      class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">Base Paper</a>
    </li>
    <li class="py-2">
      <a href="https://docs.google.com/document/d/1eubfu9MSCtmuLu9wkpFtI56672X0Nt_EM6GnGS0RNUk/edit?usp=drive_link"
      class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">Papers Referred</a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
</div>
<div class="flex w-full justify-start gap-6">
  <a href="https://github.com/masukuapi/masuku-docs" class="text-secondary underline">Docs Github</a>
  <a href="https://github.com/masukuapi/masuku-model" class="text-secondary underline">Model Github</a>
</div>
</section>