<section class="w-[20%] h-screenWithNav bg-tertiary p-5 sato text-textInactive satoshi-medium">
  <!-- Heading -->
  <h1 class="text-2xl pb-5 text-textsecondary satoshi-bold">Quick Links</h1>
  <hr class="bg-textInactive" />
  <!-- Tech-Stack Documentation -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="#introduction"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">YOLOv5 Documentation</a>
    </li>
    <li class="py-2">
      <a href="#installation"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">ONNX Documentation</a>
    </li>
    <li class="py-2">
      <a href="#usage" class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">PyTorch
        Documentation
      </a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
  <!-- Abstract and SRS -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="#introduction"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">Project Abstract</a>
    </li>
    <li class="py-2">
      <a href="#installation"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">SRS Documentation</a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
  <!-- Papers -->
  <ul class="py-5 font-light">
    <li class="py-2">
      <a href="#introduction"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">Base Paper</a>
    </li>
    <li class="py-2">
      <a href="#installation"
        class="hover:text-white text-xl transition-all ease-in-out duration-300 cursor-pointer">Papers Referred</a>
    </li>
  </ul>
  <hr class="bg-textInactive" />
</section>